debug/
target/
vendor/
out/
**/*.rs.bk
*.pdb

*.pt
*.py
!tool/*.py
*.mpk

__pycache__/

*.ply
*.gcloud
*.safetensors

.DS_Store

test_depth.png

screenshots/
headless_output/
www/assets/
crates/bevy_burn_depth/assets/
crates/bevy_burn_depth/www/assets/

assets/images/
assets/model/
assets/pca/
output/
sandbox/
