debug/
target/
vendor/
out/
**/*.rs.bk
*.pdb

*.pt
*.py
!tool/*.py
*.mpk

*.ply
*.gcloud
*.safetensors
assets/model/

.DS_Store

test_depth.png

screenshots/
headless_output/
www/assets/
crates/bevy_burn_dino/assets/
crates/bevy_burn_dino/www/assets/

assets/images/
assets/models/
assets/pca/
output/
sandbox/
