debug/
target/
vendor/
out/
Cargo.lock
**/*.rs.bk
*.pdb

# Allow Python files in tool directory
*.py
!tool/*.py

*.ply
*.gcloud

.DS_Store

screenshots/
headless_output/
www/assets/

assets/images/
assets/models/
assets/tensors/
output/
sandbox/
